{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% block header_title %}
    <h1 class="ezconf-list-title">Content list</h1>
{% endblock %}

{% block content %}
    <div class="ezconf-list-toolbar">
        {{ form_start(form) }}
            <fieldset class="">
                <legend class="ezconf-list-toolbar-legend">Filter by Content Type</legend>
                <div class="pure-form">
                    {{ form_row(form.typesList, {'attr': {'class': 'ezconf-list-types'} }) }}
                </div>
            </fieldset>
        {{ form_end(form) }}
    </div>

    <h2>{{ results.totalCount }} content items{% if contentType %} of type "{{ contentType.names['eng-GB'] }}"{% endif %}</h2>

    {{ include('EzSystemsExtendingPlatformUIConferenceBundle:List:list_pagination.html.twig') }}

    {% if results.searchHits %}
        <table class="ezconf-list pure-table pure-table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Content type</th>
                <th>Modified</th>
                <th>Published</th>
            </tr>
            </thead>
            <tbody>
            {% for value in results.searchHits %}
                <tr>
                    <td>
                        <a class="ezconf-list-location" href=""
                           data-route-name="viewLocation"
                           data-route-id="{{ path('ezpublish_rest_loadLocation', {locationPath: value.valueObject.pathString|trim('/')}) }}"
                           data-route-languageCode="{{ value.valueObject.contentInfo.mainLanguageCode }}"
                        >{{ value.valueObject.contentInfo.name }}</a>
                    </td>
                    <td>{{ getContentTypeName(value.valueObject.contentInfo.contentTypeId) }}</td>
                    <td>{{ value.valueObject.contentInfo.modificationDate|localizeddate( 'short', 'medium' ) }}</td>
                    <td>{{ value.valueObject.contentInfo.publishedDate|localizeddate( 'short', 'medium' ) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {{ include('EzSystemsExtendingPlatformUIConferenceBundle:List:list_pagination.html.twig') }}
{% endblock %}

{% block title %}List{% endblock %}
